body {
    background-color: antiquewhite;
}

.createStudent {
	margin-top: 20px;
	margin-left: 100px; 
	margin-right: 100px; 
	background: white;
  	height: 220px;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.btnSend{
	margin-left: 60px; 
	margin-top: 10px;
}