<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Update - Success</title>

        <style>
            body {
                height: 100vh; 
                
                display: flex; 
                align-items: 
                center; justify-content: center;
            }
            section {
                width: 40vw; padding: 20px; outline: 2px solid lemonchiffon;
            }
        </style>
    </head>
    <body style="box-sizing: border-box; display: flex; justify-content: center;">
        <section th:object="${student}" style="outline: 2px solid lemonchiffon;">
            <h3>User Information</h3>

            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}" disabled="disabled"/>
            </div>

            <div>
                <label>Email</label>
                <input type="text" th:field="*{email}" disabled="disabled"/>
            </div>

            <div style="background-color: lemonchiffon; margin-top: 20px; display: flex; justify-content: center;">
                <h3 style="color: black;">HAS BEEN SUCCESSFULLY UPDATED</h3>
            </div>

        </section>
    </body>
</html>