.chat {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
	color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.panel-body {
	overflow-y: scroll;
	height: 500px;
	outline: 2px solid blue;
	padding: 5px;;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

.thedfa-left-user {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.thedfa-right-user {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.thedfa-leftuser-message {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding-top: 10px;
	padding-left: 65px;
}

.thedfa-rightuser-message {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 60px;
}

.thedfa-panel-left {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.thedfa-panel-right {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}