* {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

html {
    height: 100%;
}

body {
    /*background-image: url("/img/FondoPrincipal.jpg");*/
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    */
    margin: 10px;
    background-color: blanchedalmond;
    width: 90%;
    height: 90%;
}

.board {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.box {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}